<!doctype html>
    <html>
    <head>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
        <script type="text/javascript" charset="utf-8">
            $(function () {
                var socket = io();
                socket.on('user_connected', function(data) {
                    for(const key in data) {
                        $(`#${key}`).val(data[key]);
                    }
                });
                $('#control').submit(function(e){
                    e.preventDefault(); // prevents page reloading
                    socket.emit('set_control', {
                        "gain": $('#gain').val(),
                        "delay": $('#delay').val(),
                        "reverb": $('#reverb').val()
                    });
                    return false;
                });
            });
        </script>
    </head>
    <body>
        <form id="control" action=''>
            <input type="number" id="gain"><button>Set</button>
            <input type="number" id="delay"><button>Set</button>
        </form>
    </body>
</html>