<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {# <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
        <script type="text/javascript" charset="utf-8">
            $(function () {
                var socket = io();
            });
        </script>
</head> #}
<body>
    {% if conn_users %}
            {% for id, user in conn_users.items() %}
                <h1>{{ user.id }}</h1>
                <ul>
                {% for conf, value in user.audio_conf.items() %}
                    <li>{{ conf }}: {{ value }}</li>
                {% endfor %}
                </ul>
            {% endfor %}
    {% endif %}
</body>
</html>